img {
	width: 25px;
	height: 25px;
	opacity: 0.8;
}

.feedProfileBox {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 10px;
	gap: 5px;
	background-color: white;
}

.feedProfileBox-info {
	display: flex;
	align-items: center;
	gap: 20px;
}

.feedProfileBox-info > div {
	background-color: rgb(241, 241, 241);
	width: 100%;
	border-radius: 30px;
	padding: 8px;
	color: rgb(155, 154, 154);
}

.feedProfileBox-info > div:hover {
	background-color: rgb(230, 226, 226);
	cursor: pointer;
}

.feedProfileBox-buttons {
	display: flex;
	justify-content: space-around;
}

.feedProfileBox-button {
	display: flex;
	align-items: center;
	gap: 8px;
	width: 100%;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 8px;
}

.feedProfileBox-button:hover {
	cursor: pointer;
	background-color: rgb(235, 230, 230);
}

.feedProfileBox-button > p {
	color: rgb(90, 89, 89);
}
