.post {
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin-top: 12px;
	background-color: white;
	width: 100%;
	gap: 18px;
}

.post-info {
	display: flex;
	align-items: center;
	gap: 18px;
}

.post-info > img {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	opacity: 1;
}

.post-username-day > h5 {
	cursor: pointer;
	font-size: 15px;
}

.post-username-day > h5:hover {
	color: blue;
	text-decoration: underline;
}

.post-body {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.post-question {
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.post-question:hover {
	text-decoration: underline;
}

.post-answerBtn {
	border: none;
	outline: none;
	background-color: rgb(62, 62, 235);
	color: white;
	border-radius: 30px;
	padding: 5px;
	cursor: pointer;
	font-weight: 500;
}

.post-answerBtn:hover {
	background-color: lightblue;
}

.post-image > img {
	object-fit: contain;
	width: 100%;
	height: auto;
	cursor: pointer;
}

.post-footer img {
	opacity: 0.7;
}

.post-share-icon {
	height: 22px;
	width: auto;
	opacity: initial;
}

.post-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.post-actions {
	border-radius: 40px;
	display: flex;
	margin-right: 10px;
	gap: 4px;
	width: 150px;
	/* border: 2px solid red; */
}

.post-actions > div {
	background-color: rgb(235, 235, 235);
	border-radius: 40px;
	width: 50%;
}

.post-chat-share {
	display: flex;
}

.post-chat-share > img {
	margin-right: 8px;
}

.post-chat-share > img:last-of-type {
	margin-left: 35px;
}

.post-chat-share > img:hover {
	cursor: pointer;
}

.post-footer > img {
	margin-left: auto;
	cursor: pointer;
}

.answer-modal {
	min-width: 700px;
	min-height: 600px;
	z-index: 100;
	background-color: rgb(255, 255, 255);
	position: fixed;
	top: 10vh;
	left: 30vw;
	padding: 40px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	border: 1px solid #2e69ff;
}

.modal__question {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.modal__question > h1 {
	color: #8f1f1b;
	font-weight: 600;
	margin-bottom: 10px;
}

.modal__question > p {
	color: gray;
	font-size: small;
}

.modal__question > p > .name {
	color: black;
	font-weight: bold;
}

.modal__answer {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	flex: 1;
	gap: 10px;
	justify-content: space-between;
	margin: 10px;
}

.modal__answer > textarea {
	max-width: 100%;
	flex: 80%;
	padding: 5px;
	font-size: 15px;
	color: blue;
}

.modal-cancelBtn-addBtn {
	margin-top: auto;
	display: flex;
	justify-content: flex-end;
	gap: 15px;
}

.modal-cancelBtn-addBtn > button:first-child {
	background-color: #fff;
	border: none;
	font-size: large;
	color: rgb(177, 177, 172);
}

.modal-cancelBtn-addBtn > button:first-child:hover {
	cursor: pointer;
	color: gray;
}

.addAnswerBtn {
	background-color: #2e69ff;
	color: #fff;
	font-size: large;
	border-radius: 20px;
	border: none;
	padding: 5px;
}

.addAnswerBtn:hover {
	cursor: pointer;
	opacity: 0.8;
}
