.sidebarTopics {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
}

.sidebarTopic {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 15px;
	margin-left: 10px;
	gap: 15px;
}

.sidebarTopic:hover {
	background-color: lightgray;
	border-radius: 5px;
}

.sidebarTopic > img {
	height: 30px;
}

.sidebarTopics .sidebarTopic:first-child > img {
	opacity: 0.5;
	height: 20px;
}

.sidebarTopic > p {
	color: gray;
	font-weight: 400;
}
